[Desktop Entry]
Type=Application
Path=/home/beaty/src/conky
Exec=conky -dc nws.conf
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=NWS
Comment[en_US]=No description
X-GNOME-Autostart-Delay=15
